.rankingPage {
  align-items: center;
  background-color: #232ec5;;
  color: white;
  display: flex;
  flex-direction: column;
  height: 768px;
  justify-content: center;
}

.ranking {
  align-items: center;
  background-color: white;
  color: #050505;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content:flex-start;
  padding: 50px;
  width: 200px;
}

.rankingTitle {
  align-items: center;
  display: flex;
  justify-content:space-between;
  margin-top: 50px;
  margin-bottom: 10px;
  width: 50%;
}

.rankingImg {
  width: 30px;
}

.rankingMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home {
  margin-bottom: 20px;
  width: 40px;
}

.rankingBox {
  align-items: center;
  /* background-color: #232ec5; */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  width: 150px;
}